:root {
    --blanco:#ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16 px; /*1 ren equivale a 10 px */
}
.titulo { 
    text-align: center;
    font-size: 3.8rem;
    font-family: 'Krub', sans-serif;   

}
.titulo span {
    color: negro;
    font-size: 2rem;
}
